.navigation__Ul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
  margin-right: 30px;
}

.nav__Twitter,
.nav__faUser {
  color: #04aaff;
}
.nav__Link_Icon {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.nav__link {
  margin-top: 10px;
}
